
$p_color: #41B0F6;


.nav-brand {
    width: 100px;

}

#logo {
    color: $p_color !important;
    font-weight: bold;
}

.main {

    margin-top: 30px;
    min-height: 600px;


    thead {
        background-color: #cccccc;

    }

    td {
        vertical-align: top;
    }

    tr {
        border-bottom: 1px solid #dddddd;
    }
}